<!DOCTYPE html>
<html>

<head>
	<title>Tweet Search With API</title>
	<link href="/styles.css" rel="stylesheet" type="text/css">
</head>

<body>
	<form id="search-form" method="POST" action="/search-success">
		<input type="text" name="search" placeholder="Enter query here">
		<button type="submit">Search</button>
	</form>
</body>

</html>
